{{> menu id="dashboard"}}

{{#each assessments}}
  <section class="ui segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <p> Total Duration: {{duration}} </p>
    <table class="ui table">
      <thead>
        <tr>
          <th>Weight</th>
          <th>Chest</th>
          <th>Thigh</th>
          <th>UpperArm</th>
          <th>Waist</th>
          <th>Hips</th>
        </tr>
      </thead>
      <tbody>
        {{#each measurements}}
          <tr>
            <td>
              {{title}}
            </td>
            <td>
              {{artist}}
            </td>
            <td>
              {{genre}}
            </td>
            <td>
              {{duration}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
{{/each}}